<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
   <link rel="stylesheet" type="text/css" href="http://api.dev.com:5000/static/rest_framework/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://api.dev.com:5000/static/rest_framework/css/bootstrap-tweaks.css"/>

  <link rel="stylesheet" type="text/css" href="http://api.dev.com:5000/static/rest_framework/css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="http://api.dev.com:5000/static/rest_framework/css/default.css"/>

  <style type="text/css">
      input {
         width: 100% !important;
      }
  </style>
</head>
<body>
    <div class="container" class="container-fluid" style="margin-top: 30px">
      <div class="row-fluid">
        <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
          <div class="row-fluid">
            <div>

                   {% if form.errors %}
                    <p style="color: red;">Your username and password didn't match. Please try again.</p>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                      <p>Your account doesn't have access to this page. To proceed,
                      please login with an account that has access.</p>
                    {% else %}
                      <p style="text-align: center;">Authorization Server</p>
                    {% endif %}
                  {% endif %}

                  <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="/" />

                    <div id="div_id_username" class="clearfix control-group ">
                      <div class="form-group">
                        <label for="id_username">Username:</label>
                        <input type="text" name="username" maxlength="100"
                            autocapitalize="off"
                            autocorrect="off" class="form-control textinput textInput"
                            id="id_username" required autofocus
                            >
                        
                      </div>
                    </div>

                    <div id="div_id_password" class="clearfix control-group ">
                      <div class="form-group">
                        <label for="id_password">Password:</label>
                        <input type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control textinput textInput" id="id_password" required>
                        
                      </div>
                    </div>

                    <input type="submit" value="login" class="btn btn-primary form-control"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                  </form>


            </div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
